*.xls
*.sas
*.txt
*.json
*.zip
*.pdf
*.csv
*.gz
*.sublime-project
*.sublime-workspace
*.dbf
*.prj
*.shp
*.shx
*.xml
*.geojson
*tutorial_code/
*tab4/
*.ipynb
*geojson-vt/
*geojson-vt-topo/
*2013_5yr_SAS/
!dist.json